{% extends 'reader/base.html' %}

{% block title %}Home - Saral Yatra{% endblock %}

{% block content %}
<!-- Header Section -->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Saral Yatra</h1>
                <a class="btn btn-primary" href="{% url 'initialProfile' %}">Scan Pay</a>
            </div>
        </div>
    </div>
</header>

<!-- Contact Section Form -->
<form method="post" action="{% url 'getDetails' %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>

<!-- Display Passenger Details -->


<script>
    function closeDetails() {
        // Add logic to close the details card, e.g., hide or remove it from the DOM
        document.querySelector('.card').style.display = 'none';
    }
</script>

{% endblock %}
